/*generics*/
*{
    margin:0px;
    padding:0px;
    box-sizing:border-box;
}


body {
    font-family: sans-serif;
  }
  
  header,
  section {
    min-height: 200px;
  }

/*utilities*/
[class*="col"] {
    border: 1px dashed red;
  }

  .sa-flex-end {    /*è buona norma dare le iniziali del mio nome (o dell'eventuale team) per distinguere le mie classi da quelle di bootstrap*/
    justify-content: flex-end;
  }

  .sa-card-width {
    width: 80%;
    min-width: 250px;
  }
  
  .sa-row-gap-20 {
    row-gap: 20px;
  }

  .sa-row-gap-20 {
    row-gap: 20px;
  }

.sa-btn{
    background-color: #1abc9c;
    color:white;
    border: 1px solid white;
    border-radius:50px;
}

/* bootstrap customizations */

.bg-primary {
    background-color: #6395ad !important;
  }
/* / bootstrap customizations */


/*content*/
#profile .card{
    background-color: #1abc9c;
}

#profile a{
    text-decoration: none;
}

.line{
    display: inline-block;
    width:100%;
    height: 10px;
    background-color: #2c3e50;
}

#portfolio img{
    width:100%;
}

#about{
    background-color: #1abc9c;
}

#contacts h1{
 color:#2c3e50;
}




