/*generics*/
*{
    margin:0px;
    padding:0px;
    box-sizing:border-box;
}


body {
    font-family: sans-serif;
  }
  
  header,
  section {
    min-height: 200px;
  }

/*utilities*/
[class*="col"] {
    border: 1px dashed red;
  }

  .sa-flex-end {    /*è buona norma dare le iniziali del mio nome (o dell'eventuale team) per distinguere le mie classi da quelle di bootstrap*/
    justify-content: flex-end;
  }

/* bootstrap customizations */

.bg-primary {
    background-color: #6395ad !important;
  }
/* / bootstrap customizations */


/*content*/


